@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/Inter.ttf');
}

@layer base {
    * {
        font-family: Inter, sans-serif;
    }
}